/* notes
<link rel="stylesheet" media="screen and (min-width: 1024px)" href="wis-news-site-desktop.css">
<link rel="stylesheet" media="screen and (max-width: 1023px)" href="wis-news-site-tablet.css">
<link rel="stylesheet" media="screen and (max-width: 480px)" href="wis-news-site-mobile.css">
*/

// imports
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

// Bootstrap scss
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// variables
$clr-primary: #004f80;
$clr-primary-brightened: lighten($clr-primary, 15%);
$clr-primary-darkmode: #40b8ff;
$clr-secondary: #e73531;
$clr-light: #fdfdfd;
$clr-dark: #333333;
$clr-bg-dark: #696969;
$font-heading: Ubuntu, sans-serif;
$font-primary: Roboto, sans-serif;
$desktop-bp: 1024px;
$tablet-bp: 1023px;
$mobile-bp: 480px;

// global
body.light {
  display: flex;
  flex-direction: column;
  background: url("pattern-svg.svg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  h1,
  h2 {
    color: $clr-primary;
    font-family: $font-heading;
  }
  h1 {
    font-weight: 700;
    line-height: 2.1;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.6;
  }
  p {
    color: $clr-dark;
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
  }
  a {
    color: $clr-primary;
    text-decoration: none;
    p {
      color: $clr-primary;
      margin: 1.25vmin 2.5vmin;
    }
  }
  a:hover {
    color: $clr-primary-brightened;
    text-decoration: none;
    .fa {
      //fa when container link is hovered
      color: $clr-primary-brightened;
    }
    h2 {
      color: $clr-primary-brightened;
    }
    p {
      color: $clr-primary-brightened;
    }
  }
  .fa {
    color: $clr-primary;
  }
  footer {
    color: $clr-dark;
  }
}

body.dark {
  display: flex;
  flex-direction: column;
  background: url("pattern-svg-dark.svg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  h1,
  h2 {
    color: $clr-primary-darkmode;
    font-family: $font-heading;
  }
  h1 {
    font-weight: 700;
    line-height: 2.1;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.6;
  }
  p {
    color: $clr-light;
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
  }
  a {
    color: $clr-primary-darkmode;
    text-decoration: none;
    p {
      color: $clr-primary-darkmode;
      margin: 1.25vmin 2.5vmin;
    }
  }
  a:hover {
    color: $clr-primary-brightened;
    text-decoration: none;
    .fa {
      //fa when container link is hovered
      color: $clr-primary-brightened;
    }
    h2 {
      color: $clr-primary-brightened;
    }
    p {
      color: $clr-primary-brightened;
    }
  }
  .fa {
    color: $clr-primary-darkmode;
  }
  footer {
    color: $clr-light;
  }
}

// header component
header {
  //margin-bottom: 1.45rem;
  //box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.075);
  //background: $clr-light;
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    max-width: 960px;
    padding: 2.5vmax 1.25vmax;
    //padding: 1.45rem 1.0875rem; //default
    /*border: 1px solid red; /* debug */
    .headerNavSection {
      /*border: 1px solid blue; /* debug */
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.45rem 0;
      .navbar {
        flex-wrap: nowrap;
      }
      .navbar-light .navbar-toggler-icon {
        fill: $clr-primary;
      }
      .navbarConfig {
        margin: 0;
        padding: 0;
        .collapse.show.navbar-collapse {
          //border: 1px solid red; //debug
          margin: 0;
          padding: 0;
          flex-basis: 0;
          .nav-item {
            margin-bottom: 0; // fix floating link
            margin-right: 1rem; // spacing betweeen navs
          }
        }
        .collapsing.navbar-collapse {
          // when navbar is collapsing
          display: inline-block;
          padding: 0;
          margin: 0;
          height: 0%; //how tf does this work so well
          flex-basis: 0;
          font-size: 1rem;
          .nav-item {
            margin-bottom: 0; // fix floating Link
            margin-right: 1rem; // spacing betweeen navs
          }
        }
        .navbar-nav {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          /*border: 1px solid red; /* debug */
        }
        button {
          padding: 0.25rem;
          border: none;
        }
        .navbarTogglerDropdown {
          padding: 0;
          margin: 0;
          .navbar-nav {
            //the ul
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
          }
          li a {
            display: inline;
            color: $clr-primary;
            margin: 0;
            padding: 0;
            animation-name: nav-link;
            animation-fill-mode: forwards;
            animation-duration: 0.4s;
            @keyframes nav-link {
              0% {
                margin-left: 1rem;
              }
            }
          }
          li a:hover {
            color: $clr-primary-brightened;
          }
          li a::after {
            content: "";
            display: flex;
            width: 0;
            height: 2px;
            background: $clr-primary;
            transition: width 0.4s ease-out;
          }
          li a:hover::after {
            content: "";
            display: flex;
            width: 100%;
            height: 2px;
            background: $clr-primary;
            transition: width 0.4s ease-in-out;
          }
        }
      }
    }

    @media (min-width: $desktop-bp) {
      .headerLogo {
        display: flex-block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.45rem 1.0875rem;
        margin: 0;
        width: 12.5em;
      }
    }
    @media (max-width: $tablet-bp) {
      .headerLogo {
        display: flex-block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.45rem 1.0875rem;
        margin: 0;
        width: 15em;
      }
    }
    @media (max-width: $mobile-bp) {
      .headerLogo {
        display: flex-block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.45rem 1.0875rem;
        margin: 0;
        width: 15em;
      }
    }
    /*border: 1px solid green; /* debug */
    // cancel out effects of header > div
    img {
      // fix the underline
      padding: 0;
      margin: 0;
    }
  }
  .headerLogo::after {
    content: "";
    display: flex;
    width: 0;
    margin-top: 2px;
    height: 2px;
    background: $clr-primary;
    transition: width 0.4s ease-out;
  }
  .headerLogo:hover::after {
    content: "";
    display: flex;
    width: 100%;
    height: 2px;
    background: $clr-primary;
    transition: width 0.4s ease-in-out;
  }
}

// svg config
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 79, 128, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 79, 128, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

//body
.homepageContainer {
  //min-height: 50vh; //debug

  //border: 1px solid red; //debug
  .homepageImage {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0;
    //border: 1px solid red;
  }
}

// blog page blog.js
.blogContainer {
  .colorful-shadow {
    border: 1px solid red;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: inherit;
      padding: inherit;
      margin-bottom: 4vh;
      h2 {
        border-bottom: 2px solid $clr-secondary;
        margin-bottom: 1.25vh;
        line-height: 1.4;
        max-width: 65%;
      }
      @media (max-width: $tablet-bp) {
        h2 {
          max-width: 80%;
          font-size: 1.5em;
        }
      }
      @media (max-width: $mobile-bp) {
        h2 {
          max-width: 90%;
          font-size: 1.5em;
        }
      }
      p {
        margin: inherit;
        padding: inherit;
        color: $clr-bg-dark;
      }
      a:hover p {
        color: $clr-bg-dark;
      }
    }
  }
}

//for templates/blog.js
.blogTemplate {
  .blogPostTitle {
    font-size: 2em;
    line-height: 1.4;
    border-bottom: 2px solid $clr-secondary;
    max-width: 80%;
  }
  @media (max-width: $mobile-bp) {
    .blogPostTitle {
      font-size: 2em;
      line-height: 1.4;
      border-bottom: 2px solid $clr-secondary;
      max-width: 100%;
    }
  }
  .blogContent {
    margin: 5vh 0;
    figure {
      max-width: 45%;
      border-radius: 2.5em;
      margin: 5vh 0;
      img {
        border-radius: 2.5vmin;
        color: $clr-bg-dark;
      }
    }
    h2 {
      margin-top: 7.5vh;
      margin-bottom: 2.5vh;
      max-width: 80%;
    }
    p {
      max-width: 65%;
    }
    @media (max-width: $tablet-bp) {
      p {
        max-width: 80%;
      }
      figure {
        max-width: 65%;
      }
    }
    @media (max-width: $mobile-bp) {
      p {
        max-width: 100%;
      }
      figure {
        max-width: 100%;
      }
    }
  }
}

// about page about.js
.aboutContainer {
  display: flex;
  //border: 1px solid red; //debug
  .flexAbout {
    margin-right: 2.5vmax;
    //border: 1px solid blue; //debug
  }
  .flexContact {
    height: fit-content;
    padding: 2.5vmax;
    border: 0.25vmin solid $clr-primary-brightened;
    border-radius: 1em;
    a,
    span {
      display: flex;
      align-items: center;
      p {
        margin: 1.25vmin 2.5vmin;
      }
    }
  }
  h1,
  h2 {
    color: $clr-primary;
  }
}
@media (max-width: $mobile-bp) {
  .aboutContainer {
    flex-wrap: wrap;
    .flexAbout {
      padding: 0;
    }
  }
}

//footer
footer {
  display: block;
  margin-top: 5vmax;
  //border: 1px solid green; //debug
}
